<sly data-sly-use.model="org.patternlab.sling.core.model.component.pattern.PatternComponentModel">
    <div data-sly-test.dataMissing="${model.dataMissing}">Unable to display missing sample data for ${model.name}</div>
    <sly data-sly-test="${!dataMissing}">
        <sly data-sly-test.noMenu="${model.noMenu}">
            <sly data-sly-test="${model.template}" data-sly-use.template="${model.templatePath}" data-sly-call="${template.template @ data=model.patternData}"></sly>
            <sly data-sly-test="${model.include}" data-sly-include="${model.templatePath}"></sly>
        </sly>
        <iframe class="sg-viewport aa" data-sly-test="${!noMenu}" src="${model.currentPagePath}.pattern.${model.id}.raw.html"></iframe>
    </sly>
</sly>