<template data-sly-template.template="${@ categories}">
    <html class="${properties.htmlClass}">
    <head>
        <title id="title">${properties.jcr:title}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <sly data-sly-list.css="${properties.css}">
            <link  rel="stylesheet" href="${css}" type="text/css">
        </sly>
        <script data-sly-repeat.headerJs="${properties.headerJs}" type="text/javascript" src="${headerJs}"></script>
    </head>
        <sly data-sly-test.customBody="${properties.bodyTag}">${properties.bodyTag @ context='unsafe'}</sly>
        <sly data-sly-test="${!customBody}"><body></sly>
            <sly data-sly-use.patternsTemplate="/apps/patternlab/components/page/templates/patternsnomenu.html" data-sly-call="${patternsTemplate.template @ categories=categories, currentPagePath=currentPagePath}"></sly>
            <script data-sly-repeat.footerJs="${properties.footerJs}" type="text/javascript" src="${footerJs}"></script>
        </body>
    </html>
</template>