<template data-sly-template.template="${@ categories, currentPagePath, patternId, searchPatternResults}">
    <html id="patternlab-html">
        <head id="patternlab-head">
            <title id="title">${properties.jcr:title}</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <meta http-equiv="content-type" content="text/html; charset=UTF-8">
            <link rel="stylesheet" href="/etc/designs/patternlab/clientlib/css/prism-typeahead.css" type="text/css">
            <link rel="stylesheet" href="/etc/designs/patternlab/clientlib/css/styleguide.css" type="text/css">
            <link rel="shortcut icon" href="/etc/designs/patternlab/clientlib/images/favicon.ico" />
        </head>
        <body id="patternlab-body" data-search="${searchPatternResults}">
            <sly data-sly-use.header="/apps/patternlab/components/page/templates/header.html" data-sly-call="${header.template @ categories=categories, currentPagePath=currentPagePath, patternId=patternId}"></sly>
            <div id="sg-vp-wrap">
                <div id="sg-cover"></div>
                <div id="sg-gen-container" class="vp-animate">
                    <div id="sg-viewport" class="vp-animate">
                        <sly data-sly-test="${!patternId}">${properties.jcr:description @ context='html'}</sly>
                        <sly data-sly-use.patternsTemplate="/apps/patternlab/components/page/templates/patternsmenu.html"
                             data-sly-call="${patternsTemplate.template @ categories=categories, currentPagePath=currentPagePath}"></sly>
                    </div>
                    <div id="sg-rightpull-container">
                        <div id="sg-rightpull"></div>
                    </div>
                </div>
            </div>
            <script type="text/javascript" src="/etc/designs/patternlab/clientlib/js/bower_components/jquery.min.js"></script>
            <script type="text/javascript" src="/etc/designs/patternlab/clientlib/js/bower_components/prism.min.js"></script>
            <script type="text/javascript" src="/etc/designs/patternlab/clientlib/js/bower_components/jwerty.min.js"></script>
            <script type="text/javascript" src="/etc/designs/patternlab/clientlib/js/bower_components/classList.min.js"></script>
            <script type="text/javascript" src="/etc/designs/patternlab/clientlib/js/bower_components/typeahead.bundle.min.js"></script>
            <script type="text/javascript" src="/etc/designs/patternlab/clientlib/js/bower_components/script.min.js"></script>
            <script type="text/javascript" src="/etc/designs/patternlab/clientlib/js/cookie.js"></script>
            <script type="text/javascript" src="/etc/designs/patternlab/clientlib/js/search.js"></script>
            <script type="text/javascript" src="/etc/designs/patternlab/clientlib/js/pattern-info-display.js"></script>
            <script type="text/javascript" src="/etc/designs/patternlab/clientlib/js/viewport.js"></script>
        </body>
    </html>
</template>