<template data-sly-template.template="${@ categories}">
    <html class="${properties.htmlClass}">
    <head>
        <title id="title">${properties.jcr:title}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link data-sly-repeat.headerCss="${properties.headerCss}" rel="stylesheet" href="${headerCss}" type="text/css">
        <script data-sly-repeat.footerCss="${properties.footerCss}" type="text/javascript" src="${footerCss}"></script>
    </head>
        <body class="${properties.bodyClass}">
            <sly data-sly-use.patternsTemplate="/apps/patternlab/components/page/templates/patternsnomenu.html" data-sly-call="${patternsTemplate.template @ categories=categories, currentPagePath=currentPagePath}"></sly>
            <link data-sly-repeat.footerCss="${properties.footerCss}" rel="stylesheet" href="${footerCss}" type="text/css">
            <script data-sly-repeat.footerJs="${properties.footerJs}" type="text/javascript" src="${footerJs}"></script>
        </body>
    </html>
</template>