<template data-sly-template.template="${@ pattern, currentPagePath}">
    <div class="sg-modal-content-inner">
        <div class="sg-pattern-extra-inner">
            <div class="sg-pattern-extra-info" data-sly-test="${pattern.description || pattern.embeddedPatterns || pattern.includingPatterns}">
                <div class="sg-pattern-desc" data-sly-test="${pattern.description}">
                    <p>${pattern.description @ context='html'}</p>
                </div>
                <p class="sg-pattern-lineage" data-sly-test="${pattern.embeddedPatterns}">
                    Contains the following patterns:
                    <span id="sg-code-lineage-fill" data-sly-list.embeddedPattern="${pattern.embeddedPatterns}">
                       <a href="${currentPagePath}.pattern.${embeddedPattern}.html" class="">${embeddedPattern}</a>,
                    </span>
                </p>
                <p class="sg-pattern-lineage" data-sly-test="${pattern.includingPatterns}">
                    Included in the following patterns:
                    <span id="sg-code-lineager-fill" data-sly-list.includingPattern="${pattern.includingPatterns}">
                       <a href="${currentPagePath}.pattern.${includingPattern}.html" class="">${includingPattern}</a>,
                    </span>
                </p>
            </div>

            <div class="sg-pattern-extra-code">

                <div class="sg-tabs">
                    <ul class="sg-tabs-list">
                        <li data-sly-test="${pattern.code}">
                            <a href="#">HTL</a>
                        </li>
                        <li data-sly-test="${pattern.data}">
                            <a href="#">DATA</a>
                        </li>
                        <li>
                            <a href="#">HTML</a>
                        </li>
                    </ul>

                    <div class="sg-tabs-content">
                        <div data-language="markup" class="sg-tabs-panel" style="display: none;" data-sly-test="${pattern.code}" data-code="${pattern.code}">
                            <pre class="language-markup">
                                <code class="language-markup">
                                </code>
                            </pre>
                        </div>
                        <div data-language="json" class="sg-tabs-panel" style="display: none;" data-sly-test="${pattern.data}" data-code="${pattern.data}">
                            <pre class="language-json">
                                <code class="language-json">
                                </code>
                            </pre>
                        </div>
                        <div data-language="markup" class="sg-tabs-panel" style="display: none;" data-link="${currentPagePath}.pattern.${pattern.id}.raw.html">
                            <pre class="language-markup">
                                <code class="language-markup">
                                </code>
                            </pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>