<template data-sly-template.template="${@ categories}">
    <sly data-sly-list.category="${categories}">
        <sly data-sly-test="${category.displayed}">
            <sly data-sly-list.pattern="${category.patterns}">
                <sly data-sly-test="${pattern.displayed}" data-sly-resource="${ @path=pattern.id, resourceType='/apps/patternlab/components/pattern', wcmmode='disabled'}"></sly>
            </sly>
            <sly data-sly-test="${category.subCategories}" data-sly-use.patternsnomenu="templates/patternsnomenu.html" data-sly-call="${patternsnomenu.template @ categories=category.subCategories}"></sly>
        </sly>
    </sly>
</template>
