<template data-sly-template.template="${@ categories, currentPagePath}">
    <sly data-sly-list.category="${categories}">
        <sly data-sly-test="${category.displayed}">
            <sly data-sly-test="${category.patterns}">
                <h3 class="sg-pattern-category-title" data-sly-list.breadcrumb="${category.breadcrumb}">
                    <a class="patternLink" href="${currentPagePath}.pattern.${breadcrumb.id}.html" target="_top">${breadcrumb.name}</a>${!breadcrumbList.last ? " ➢ " : ""}
                </h3>
                <sly data-sly-list.pattern="${category.patterns}">
                    <div class="sg-pattern" data-sly-test="${pattern.displayed}">
                        <div class="sg-pattern-head">
                            <h3 class="sg-pattern-title">
                                <a href="${currentPagePath}.pattern.${pattern.id}.html" class="patternLink" title="Link to Pattern" target="_top">${pattern.id}</a>
                            </h3>
                            <div class="sg-pattern-breadcrumb"  data-sly-list.breadcrumb="${pattern.breadcrumb}">
                                <a href="${currentPagePath}.pattern.${breadcrumb.id}.html" title="Link to Pattern" target="_top">${breadcrumb.name}</a>${!breadcrumbList.last ? " ➢ " : ""}
                            </div>
                            <a id="sg-pattern-extra-toggle-${pattern.id}" href="#" title="View Pattern Info" data-pattern-id="${pattern.id}" class="sg-pattern-extra-toggle"><span>▼</span></a>
                        </div>

                        <div id="sg-pattern-extra-${pattern.id}" class="sg-pattern-extra"
                             data-sly-use.patterndetails="templates/patterndetails.html"
                             data-sly-call="${patterndetails.template @ pattern=pattern, currentPagePath=currentPagePath}"></div>

                        <div class="sg-pattern-example">
                            <iframe class="sg-viewport" frameborder="0" scrolling="no" src="${currentPagePath}.pattern.${pattern.id}.raw.html"></iframe>
                        </div>
                    </div>
                </sly>
            </sly>
            <sly data-sly-test="${category.subCategories}" data-sly-use.patternsmenu="templates/patternsmenu.html" data-sly-call="${patternsmenu.template @ categories=category.subCategories, currentPagePath=currentPagePath}"></sly>
        </sly>
    </sly>
</template>
