<template data-sly-template.template="${@ pattern, currentPagePath}">
    <div class="sg-modal-content-inner" data-sly-test="{pattern.description || pattern.code || pattern.data}">
        <div class="sg-pattern-extra-inner">
            <div class="sg-pattern-extra-info" data-sly-test="${pattern.description}">
                <div  class="sg-pattern-desc">
                    <p>${pattern.description @ context='html'}</p>
                </div><!--end .sg-pattern-desc-->
            </div><!--end .sg-pattern-extra-info-->

            <div class="sg-pattern-extra-code" data-sly-test="${pattern.code || pattern.data}">

                <div class="sg-tabs">
                    <ul class="sg-tabs-list">
                        <li data-sly-test="${pattern.code}">
                            <a href="#">HTL</a>
                        </li>
                        <li data-sly-test="${pattern.data}">
                            <a href="#">DATA</a>
                        </li>
                        <li>
                            <a href="#">HTML</a>
                        </li>
                    </ul><!--end .sg-tabs-list-->

                    <div class="sg-tabs-content">
                        <div data-language="markup" class="sg-tabs-panel" style="display: none;" data-sly-test="${pattern.code}" data-code="${pattern.code}">
                            <pre class="language-markup">
                                <code class="language-markup">
                                </code>
                            </pre>
                        </div>
                        <div data-language="js" class="sg-tabs-panel" style="display: none;" data-sly-test="${pattern.data}" data-code="${pattern.data}">
                            <pre class="language-markup">
                                <code class="language-markup">
                                </code>
                            </pre>
                        </div>
                        <div data-language="markup" class="sg-tabs-panel" style="display: none;" data-link="${currentPagePath}/${pattern.id}.raw.html">
                            <pre class="language-markup">
                                <code class="language-markup">
                                </code>
                            </pre>
                        </div>
                    </div><!--end .sg-tabs-content-->

                </div><!--end .sg-tabs-->

            </div><!--end .sg-pattern-extra-code-->

        </div><!--end .sg-pattern-extra-inner-->
    </div>
</template>