<!DOCTYPE HTML>

<sly data-sly-use.model="org.deepthinkit.patternlab.sling.core.model.page.PatternLabPageModel"></sly>

<sly data-sly-test.raw="${model.rawMode}" data-sly-use.pagenomenu="/apps/patternlab/components/page/templates/pagenomenu.html"
     data-sly-call="${pagenomenu.template @ categories=model.categories, currentPagePath=model.currentPagePath}">
</sly>

<sly data-sly-test="${!raw}" data-sly-use.pagemenu="/apps/patternlab/components/page/templates/pagemenu.html"
     data-sly-call="${pagemenu.template @ categories=model.categories, currentPagePath=model.currentPagePath, patternId=model.patternId, searchPatternResults=model.searchPatternResults}">
</sly>